/* Global Settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

:root {
    /* Theme */
    --theme_primary: #E24A4A;
    --theme_primary_hover: #A70000;
    --theme_dark: #1E1E1E;
    --theme_background: #E8E3E3;
    --theme_section_background: #FFFFFF;
   
    /* text */
    --theme_input_text_color: var(--theme_input_text_color);
    --theme_input_placeholder_color: #6F6666;
    --theme_text_color: var(--theme_dark);
    /* elements */
    --theme_input_background: #EFDCDC;
    --theme_btn_background: var(--theme_dark);
    /* --blue: #08B2E3; */
}

input::placeholder {
    color: var(--theme_input_placeholder_color);
}

body {
    color: var(--theme_text_color);
    background: var(--theme_background);
}

.container {
    max-width: 1400px;
    margin: 5vh auto;
}

.btn {
    padding: 10px;
    background: var(--theme_btn_background);
    color: var(--theme_section_background);
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.26));
    transition: .3s;
}

.btn.btn_primary {
    background: var(--theme_primary);
}

.btn:hover {
    background: var(--theme_primary_hover);
}

hr {
    height: 1px;
    border: none;
    background: var(--theme_primary);
}

.content-section {
    background: var(--theme_section_background);
    padding: 25px;
    border-radius: 5px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.09));
}

.section-title {
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 12.5px;
}

/* Header  */
header {
    background: var(--theme_dark);
    height: 60px;
}

.header-navbar {
    display: flex;
    justify-content: space-between;
    /* height: 100%; */
}

.header-navbar .nav-menu {
    display: flex;

    border: 1px solid red
}

.header-navbar .logo {
    width: 45px;
}

/* Form */
.form {
    max-width: 1400px;
    margin: 70px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

form .btn {
    width: 360px;
    margin-top: 10px;
}

form .content-section {
    margin: 25px;
}

form .form-title {
    font-size: 42px;
    font-weight: 900;
    color: var(--theme_primary);
}

form .input-list {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

form .input-list input {
    padding: 6px 12px;
    border-radius: 5px;
    border: none;
    background: var(--theme_input_background);
    color: var(--theme_input_text_color);
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.26));
    margin: 0 10px;
    font-size: 16px;
}

/* Custom form */
form.container .form-title {
    text-align: center;
}

form.container .btn {
    margin: 25px auto;
    display: block;
}